.dashboardContainer {
    display: flex;
}

.sidebarContainer {
    height: 100vh;
    background: linear-gradient(180deg, #4285F4 0%, #286DE0 100%);
    border-radius: 1rem;
    /* padding-top: 20px; */
    color: #fff;
    width: 20vw;
    display: none;
}

.mainContentContainer {
    width: 80vw;
    padding: 20px;
}

/* Navbar Styles */
.navbarContainer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Chart Styles */
.barChartContainer {
    margin: 10px;
}

/* Pie Chart Styles */
.pieChartContainer {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

.additionalcomponentContainer {
    display: flex;
}

/* Add Profile Styles */
.addprofileContainer {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .sidebarContainer {
        display: block;
    }

    .mainContentContainer {
        width: 60%;
    }
}

/* Base styles for cards */
.cards {
    display: flex;
    flex-wrap: wrap;
}

/* Responsive styles for cards on smaller screens */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}

/* Additional responsive styles for even smaller screens if needed */
@media (max-width: 480px) {
    .cards {
        flex-direction: column;
        /* Stack cards vertically */
        padding: 10px;
        /* Add padding for better spacing */
    }

    .cards>div {
        margin: 10px 0;
        /* Add margin between cards */
    }

    .cards .Card {
        width: 100%;
        /* Make the cards take up the full width */
    }
}