* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, white 0%, white 50%, skyblue 50%, skyblue 100%);
    background-size: 200% 100%;
    animation: gradient-animation 10s linear infinite;
}
/* 
@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
} */

/* App.css */
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* Sidebar takes auto width, Navbar takes the remaining space */
    grid-template-rows: 100vh;
    /* Sidebar spans full height */
    grid-gap: 20px;
}

.sidebar {
    margin: ;
    padding: ;
    background: linear-gradient(#4285F4, #286DE0);

    color: #fff;
    padding: 20px;
}

.navbar {
    background: linear-gradient(#4285F4, #286DE0);
    color: black;
    padding: 20px;
}