* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid-item {
    padding: 20px;
    /* background-color: #f0f0f0; */
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    width: 719.988px;
    height: 1024px;
    flex-shrink: 0;
}

.logo {
    color: black;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.687%;
    /* 29.445px */
    letter-spacing: 0.36px;
}

/* .g1 {
    background: linear-gradient(45deg, #4285F4 0%, #286DE0 100%);
} */

.centered {
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.form-group {
    margin-bottom: 15px;
}

.button-social {
    display: flex;
}

.google-button,
.apple-button {
    display: flex;
    align-items: center;
    margin: 15px 20px;
    border: none;
    padding: 15px 20px 20px 20px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.google-button {
    background-color: #fff;
    color: black;
    border-radius: 1.2rem;
}

.apple-button {
    background-color: #fff;
    color: black;
    border-radius: 1.2rem;
}

.google-button i,
.apple-button i {
    margin-right: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.google-button:active,
.apple-button:active,
[type="submit"]:active {
    background-color: #0D47A1;
}

.google-button:hover,
.apple-button:hover,
[type="submit"]:hover {
    background-color: #1E40AF;
}

/* form container styles */
.formContainer {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 1rem;
}